<div id="<%= dom_id user %>">
  <p><strong>Name: </strong><%= user.name %></p>
  <p><strong>Stars: </strong><%= user.stars %></p>
  <p><strong>Languages: </strong><%= user.languages.count %></p>
  <p><strong>Repositories: </strong><%= user.repositories.count %></p>
</div>
